html {
    height: 100%;
    width: 100%;
  }
  
  #h1
    {color: red;
    text-align: center;
    border-style: solid;
    border-color: black}
  
  .prebot {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: white;
  }
  
  img:hover{
    filter: brightness(50%);  
  }
  
  img{
    border-style: solid;
    border-color: black;
    margin-top: 1px;
    display: inline-block;
  }
  
  .button{
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  .about{
    color:white;
  }
  
  .fooddd{
    color:white;
  }
  
  .header{
    width:100%; overflow:hidden; background-color: black; margin: 0%; padding: 0; height:50px; position: fixed;
  }
  
  *, html {
      margin:0;
      padding:0;  
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #ffffff;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  .tile {
  background: green;
  }
  
  .food {
    background-color: #ffffff;
  }
  
  .different {
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-bottom: 3px;
  }
  
  .IR {
    color: black;
    text-align: center;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
  }
  
  .left{
   margin-left: 3px; 
  }
  
  .right{
    margin-right: 3px;
    float: right;
  }
  
  .subheading {
    background: gray;
    padding-top: 50px;
  }
  
  .home {
    color: white;
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
    float: left;
  }
  
  .cuisine {
    color: white;
    display: inline-block;
    margin-right: 15px;
  }
  
  .serch {
    float: right;
    width: 50px;
  }
  
  .black {
    background-color: black;
  }
  
  .examples {
    color: grey;
    float: left;
    width: 93%;
    text-align: center;
  }
  
  .italian {
    width: 45%;
    height: 45%;
    margin-top: 2px;
    float: left;
  }
  
  .Info {
    float: left;
    padding-left: 10px;
    width: 50%;
  }
  
  .Gaudante {
    margin-bottom: 10px;
  }
  
  .Laranceto {
  }
  
  .space {
    margin-top: calc(45% + 5px);
  }
  
  .Info_list {
    margin-left: 25px;
  }
  
  .chat{
      margin-top: auto;
      margin-bottom: auto;
  }
  .card{
      height: 500px;
      border-radius: 15px !important;
      background-color: rgba(0,0,0,0.4) !important;
  }
  .contacts_body{
      padding:  0.75rem 0 !important;
      overflow-y: auto;
      white-space: nowrap;
  }
  .msg_card_body{
      overflow-y: auto;
  }
  .card-header{
      border-radius: 15px 15px 0 0 !important;
      border-bottom: 0 !important;
  }
  .card-footer{
  border-radius: 0 0 15px 15px !important;
      border-top: 0 !important;
  }
  .container{
      align-content: center;
  }
  .search{
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color:white !important;
  }
  .search:focus{
       box-shadow:none !important;
     outline:0px !important;
  }
  .type_msg{
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color:white !important;
      height: 60px !important;
      overflow-y: auto;
  }
      .type_msg:focus{
       box-shadow:none !important;
     outline:0px !important;
  }
  .attach_btn{
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
  }
  .send_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
  }
  .search_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
  }
  .contacts{
      list-style: none;
      padding: 0;
  }
  .contacts li{
      width: 100% !important;
      padding: 5px 10px;
      margin-bottom: 15px !important;
  }
  .active{
      background-color: rgba(0,0,0,0.3);
  }
  .user_img{
      height: 70px;
      width: 70px;
      border:1.5px solid #f5f6fa;
  
  }
  .user_img_msg{
      height: 40px;
      width: 40px;
      border:1.5px solid #f5f6fa;
  
  }
  .img_cont{
      position: relative;
      height: 70px;
      width: 70px;
  }
  .img_cont_msg{
      height: 40px;
      width: 40px;
  }
  .online_icon{
      position: absolute;
      height: 15px;
      width:15px;
      background-color: #4cd137;
      border-radius: 50%;
      bottom: 0.2em;
      right: 0.4em;
      border:1.5px solid white;
  }
  .offline{
      background-color: #c23616 !important;
  }
  .user_info{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15px;
  }
  .user_info span{
      font-size: 20px;
      color: white;
  }
  .user_info p{
      font-size: 10px;
      color: rgb(255, 255, 255);
  }
  .video_cam{
      margin-left: 50px;
      margin-top: 5px;
  }
  .video_cam span{
      color: white;
      font-size: 20px;
      cursor: pointer;
      margin-right: 20px;
  }
  .msg_cotainer{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      border-radius: 25px;
      background-color: rgb(82, 172, 255);
      padding: 10px;
      position: relative;
  }
  .msg_cotainer_send{
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
      border-radius: 25px;
      background-color: #58cc71;
      padding: 10px;
      position: relative;
  }
  .msg_time{
      position: absolute;
      left: 0;
      bottom: -15px;
      color: rgba(255,255,255,0.5);
      font-size: 10px;
  }
  .msg_time_send{
      position: absolute;
      right:0;
      bottom: -15px;
      color: rgba(255,255,255,0.5);
      font-size: 10px;
  }
  .msg_head{
      position: relative;
  }
  #action_menu_btn{
      position: absolute;
      right: 10px;
      top: 10px;
      color: white;
      cursor: pointer;
      font-size: 20px;
  }
  .action_menu{
      z-index: 1;
      position: absolute;
      padding: 15px 0;
      background-color: rgba(0,0,0,0.5);
      color: white;
      border-radius: 15px;
      top: 30px;
      right: 15px;
      display: none;
  }
  .action_menu ul{
      list-style: none;
      padding: 0;
      margin: 0;
  }
  .action_menu ul li{
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 5px;
  }
  .action_menu ul li i{
      padding-right: 10px;
  }
  .action_menu ul li:hover{
      cursor: pointer;
      background-color: rgba(0,0,0,0.2);
  }
  @media(max-width: 576px){
      .contacts_card{
      margin-bottom: 15px !important;
  }
  
  ::placeholder {
    color: red;
  }
  
  #head {
    font-family: Hubot Sans;
    font-weight: bold;
  }
  }
  
  .attribution {
      width: 40%;
      margin-left: 2px;
  }
  
  .smallspace {
      margin-top: 5px;
  }